// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

    --white: #ffffff;
    --graylight3 : #ECEDEF;
    --graylight2: #AAAEB3;
    --graylight: #C7C7C7;
    --graymedium: #505050;
    --graymedium2: #979797;
    --graydark: #3C3C3C;
    --inputfieldborder: #BFC0C3;
    --blue:#3B5998;
}
